make.com/Integration Webhooks, HTTP.blueprint.json
{
    "name": "Integration Webhooks, HTTP",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2778336,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Meteo ingang"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "lat",
                        "type": "text"
                    },
                    {
                        "name": "lon",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.open-meteo.com/v1/forecast",
                "method": "get",
                "timeout": "20",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "latitude",
                        "value": "{{1.lat}}"
                    },
                    {
                        "name": "longitude",
                        "value": "{{1.lon}}"
                    },
                    {
                        "name": "daily",
                        "value": "temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,windspeed_10m_max,winddirection_10m_dominant,sunrise,sunset,uv_index_max,et0_fao_evapotranspiration,daylight_duration"
                    },
                    {
                        "name": "hourly",
                        "value": "relativehumidity_2m,surface_pressure,cloudcover,cloudcover_low,cloudcover_high,freezinglevel_height,soil_temperature_6cm,soil_moisture_3_to_9cm,soil_temperature_0cm"
                    },
                    {
                        "name": "timezone",
                        "value": "auto"
                    },
                    {
                        "name": "forecast_days",
                        "value": "4"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": -23,
                    "y": 112
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": null,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 277,
                    "y": 112
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{2.data}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 577,
                                    "y": -188
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Vorst Check",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{min(2.data.hourly.soil_temperature_0cm)}}",
                                            "b": "0",
                                            "o": "number:lessorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "LaagsteTemp",
                                "scope": "roundtrip",
                                "value": "{{min(2.data.hourly.soil_temperature_0cm)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 752,
                                    "y": 118
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "LaagsteTemp",
                                        "type": "any",
                                        "label": "LaagsteTemp"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "android:SendNotification",
                            "version": 1,
                            "parameters": {
                                "device": 2779151
                            },
                            "mapper": {
                                "body": "⚠️ Vorst! {{11.LaagsteTemp}}°C op {{formatDate(get(2.data.hourly.time[]; indexOf(2.data.hourly.soil_temperature_0cm[]; 11.LaagsteTemp)); \"\"\"DD/MM [om] HH:mm\"\"\")}}",
                                "title": "⚠️ Vorst Alert Leerne",
                                "collapsible": false,
                                "notification_action": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1104,
                                    "y": 115
                                },
                                "restore": {
                                    "expect": {
                                        "notification_action": {
                                            "label": "None"
                                        }
                                    },
                                    "parameters": {
                                        "device": {
                                            "data": {
                                                "editable": "undefined"
                                            },
                                            "label": "Green Seedling"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "device",
                                        "type": "device:fcm",
                                        "label": "Device",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true
                                    },
                                    {
                                        "name": "notification_action",
                                        "type": "select",
                                        "label": "Click action",
                                        "validate": {
                                            "enum": [
                                                "open_url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "collapsible",
                                        "type": "boolean",
                                        "label": "Collapse push notifications",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
